services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: laravel_app
        container_name: laravel_app
        volumes:
            - ./:/var/www/html
        working_dir: /var/www/html
        networks:
            - appnet
        depends_on:
            - db
        restart: unless-stopped
        user: laraveluser
        command: >
            /bin/sh -c "chown -R laraveluser:www-data /var/www/html/storage /var/www/html/bootstrap/cache &&
            php-fpm"
        environment:
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: ${DB_PORT}
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}

    web:
        image: nginx:alpine
        container_name: laravel_web
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - app
        networks:
            - appnet
        restart: unless-stopped

    db:
        image: mysql:latest
        container_name: laravel_db
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - appnet
        restart: unless-stopped
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "mysqladmin ping -u${DB_USERNAME} -p${DB_PASSWORD} -hlocalhost",
                ]
            interval: 5s
            timeout: 5s
            retries: 10
            start_period: 20s

    phpmyadmin:
        image: phpmyadmin:latest
        container_name: phpmyadmin
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        ports:
            - "8082:80"
        networks:
            - appnet
        restart: unless-stopped

    node:
        image: node:20-alpine
        container_name: laravel_node
        working_dir: /var/www/html
        volumes:
            - ./:/var/www/html
        ports:
            - "5173:5173"
        command: tail -f /dev/null
        networks:
            - appnet
        restart: unless-stopped

volumes:
    dbdata:

networks:
    appnet:
        driver: bridge
